.toast {
    display: flex;
    background-color: #5cb85c;
    text-align-last: center;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-radius: 10px;
    margin-bottom: 10px;
}