
@import '../../../../_colors';
@import '../../../../keyframes';
@import '../../../../_mixins';

.box {
  position: relative;
  width: 38vw;
  height: 55vh;
  @include generate-gradient(329deg, $codGrey, $gondola);
  border-radius: 8px;
  overflow: hidden;
// Add another animation borderline to the signup form
//   &::before{
//     content: '';
//     position: absolute;
//     width: 38vw;
//     height: 55vh;
//     top: -50%;
//     left: -50%;
//     background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
//     z-index: 1;
//     animation: animate 2s linear infinite;
//     transform-origin: bottom right;
//   }
//   &::after{
//     content: '';
//     position: absolute;
//     width: 38vw;
//     height: 55vh;
//     top: -50%;
//     left: -50%;
//     background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
//     z-index: 1;
//     animation: animate 2s linear infinite;
//     animation-delay: -1s;
//     transform-origin: bottom right;
//   }

  .borderline {
    position: absolute;
    top: 0;
    inset: 0;

    &::before{
        content: '';
        position: absolute;
        width: 38vw;
        height: 55vh;
        top: -50%;
        left: -50%;
        @include generate-gradient(0deg, transparent, transparent, $pink, $codGrey, $cadillac);
        z-index: 1;
        animation: animate 2s linear infinite;
        animation-delay: -1.2s;
        transform-origin: bottom right;
      }
      &::after{
        content: '';
        position: absolute;
        width: 38vw;
        height: 55vh;
        top: -50%;
        left: -50%;
        @include generate-gradient(0deg, transparent, transparent, $pink, $codGrey, $cadillac);
        z-index: 1;
        animation: animate 2s linear infinite;
        animation-delay: -2.4s;
        transform-origin: bottom right;
      }

  }

  form {
    position: absolute;
    inset: 4px;
    @include generate-gradient(329deg, $codGrey, $gondola);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;

    h2 {
        color: $white;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1rem;
    }

    .inputBox {
        position: relative;
        width: 80%;
        margin-top: 35px;

        input {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            margin-left: 5px;
            background: transparent;
            outline: none;
            border: none;
            box-shadow: none;
            color: #23242a;
            letter-spacing: 0.05rem;
            transition: 1.5s;
            z-index: 10;

            &:focus ~ span, & ~ span.error, & ~ span.valid {
                color: $white;
                font-size: 0.75rem;
                transform: translateY(-2.5rem);
            }
            &:focus ~ i, & ~ i.valid  {
                height: 2.75rem;
            }

            & ~ i.error {
                height: 2.74rem;
                @include generate-gradient(329deg, $froly, $flamingo)
            }
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            padding: 1.25rem 0px 0.6rem;
            pointer-events: none;
            color: #8f8f8f;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            transition: 0.5s;
        }      
        
        i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.125rem;
            background-color: $white;
            border-radius: 0.25rem;
            overflow: hidden;
            transition: 0.5s;
            pointer-events: none;
        }

        small {
            position: absolute;
            color: $pink;
            width: 100%;
            text-align: right;
        }
    }
    button {
        border: none;
        outline: none;
        padding: 0.6rem 1.5rem;
        background-color: $white;
        cursor: pointer;
        font-size: 0.9rem;
        border-radius: 0.25rem;
        font-weight: 600;
        width: 6.25rem;
        margin-top: 3.12rem;
        &:disabled {
            cursor: not-allowed;
        }
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
  }

}
@include responsive(tablet-desktop);
@include responsive(phone);

