//base colors - Ref:https://chir.ag/projects/name-that-color
$white: #fff;
$pink: #ff2770;
$capeCod: #313c39;
$codGrey: #1c1c1c;
$disco: #991666;
$gondola: #291621;
$cadillac: #a34b80;
$froly: #f06d6d;
$flamingo: #f03f3f;