@keyframes animate {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@-webkit-keyframes animate {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
@-moz-keyframes animate {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
