@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import '_colors';
@import '_keyframes';
@import '_mixins';


html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    @include generate-gradient(50deg, $capeCod, $disco);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
}
